.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #222;
  color: white;
  border-radius: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo h3 {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  padding: 8px 12px;
  border-radius: 5px;
}

.navbar-link:hover {
  color: #00bcd4;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
}

.navbar-auth {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-user {
  font-size: 1rem;
  font-weight: bold;
  color: #00bcd4;
}

.navbar-btn {
  background: #00bcd4;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar-btn:hover {
  background: #0097a7;
}

.navbar-login {
  font-weight: bold;
}
.logo
{
  color: azure;
  list-style: none;
  text-decoration: none;
}